
body, html{
  font-family: 'Roboto', sans-serif;
}


.container{

  width: 100%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;

}

p{
  font-weight: bold;
  font-size: 16px;
}

label{
  padding: 0 0 0 0;

}
 span {
  padding: 1px 0 1px 5px;
  font-size: 12px;
}

input{
  padding: 12px;
  border: 0;
  outline: 0;
  background: transparent;
}

.accountNumHeader{
  font-size: 12px;
  font-weight: bold;
}

.col-lg-6,.col-lg-12,.col-lg-2,.col-lg, .col-md-12{
  padding: 0;
}


.top{
  border: .5px solid lightblue;
}
.type{
  width: 100%;

}

img{
  height: 276px;
  margin: 0 auto;
  width: 60%;
}

.cardOnly{
  display: none;
}
.routingNumber{

}
.requiredField{
  display: none;
  background-color: #f8e6e6;
  color: #cf372c;

}
.creditCard{
  float: right;
  background-color: #f4f7fc;

  display: flex;
  border: .5px solid lightblue;
  border-radius: none;
}

.checkingSelectBox{
  margin-left: 2%;
  font-size: 14px;

}
.debitSelectBox{
  margin-left: 5%;
}
.paymentInfo{
  padding: 0px 0 0px 2px;
  border: .5px solid lightblue;
  width: auto;
}

.btn-primary, .btn {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 0;

}
.payButton{
  width: auto;
  color: #17a2b8;
  padding: 15px 0 0 0;
}

.header{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-style: 32px;
}
